<section class="depot_form">

    <div class="flex_table">

        <h1><%= t('.legend') %></h1>
    
        <%= render 'form', order: @order %>

    </div>

</section>


<%= javascript_pack_tag("pay_type") %>