<section class="depot_form">

    <div class="flex_table">

        <h1>Please Enter Your Details</h1>
    
        <%= render 'form', order: @order %>

    </div>

</section>

<%= javascript_pack_tag("hello_react") %>