/*
* This is a manifest file that'll be compiled into application.css, which will
* include all the files listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any
* plugin's vendor/assets/stylesheets directory can be referenced here using a
* relative path.
*
* You're free to add application-wide styles to this file and they'll appear
* at the bottom of the compiled file so the styles you add here take
* precedence over styles defined in any other CSS/SCSS files in this
* directory. Styles in this file should be added after the last require_*
* statement. It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'variables.scss';
@import 'extensions.scss';
@import 'effects.scss';

body {

    background-color: $primary_color;
    color: $secondary_font_color;

    margin: 0;
    padding: 0;
    
}

div.main_wrapper{

    @extend %neu_main--inset;/**/

    border-radius: 0;

    max-width: 100em;
    min-height: 100vh;

    margin: 0 auto;
}

header.main_banner {

    display: none;
    
    text-align: center;
    margin: 0 0 0 -1px;
    padding-right: 1px;

    overflow: hidden;

    @media (min-width: $width_treshold_mid) {
        display: block;

        position: absolute;

        width: 100%;
        height: 18em;

        left: 50%;
        transform: translateX(-50%);

        text-align: left; // left align on desktop

        background-image: url(./header_bg.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        h1{
            margin: 3.65em auto 0 auto;
        }
    }

    @media (min-width: $width_treshold) {

        height: 20em;

        h1{
            margin: 4.2em auto 0 auto;
        }

    }
    
    h1 {
          
        left: 0;
        right: 0;
        width: 27.2em;
        color: rgba(237, 237, 241, 0.5);
        font-size: 3.75em;
        text-shadow: 0 0 4px rgba(255, 255, 255, 0.8);
        padding-left: .5em;

        sup{
            display: inline-block;

            height: .65em;

            font-size: .75em;
            transform: rotate(45deg);
            transform-origin: center;

            &.rotate{
                @extend %rotate;
            }
        }

    }

}

.notice, #notice {
    background: #4c9eb4;
    border-radius: 0.5em;
    color: #dbf0f5;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 1.414em;
    text-align: center;
    box-shadow: 0 6px 15px 0px rgba(0, 0, 0, 0.25), inset 0px 1px 1px 0px rgba(255, 255, 255, .5);
}

#cart{

    @extend %side_cart;

    margin: 0;

}

.main_content {

    min-height: 86vh;
    
    margin:  0;
    padding: 0;
    display: flex;
    
    display: -webkit-flex;
    
    flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    
    @media (min-width: $width_treshold) {
        flex-direction: row;
        /*align-items: flex-start;*/
        -webkit-box-orient: horizontal;
    }
    
    @media (min-width: $width_treshold_mid) {
        margin:  19em 0 0 0;
    }
        
    nav {

        @extend %neu_main;

        display: flex;
        flex-direction: column;
        align-items: center;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        padding-bottom: 1em;
        text-align: center;
    
        @media (min-width: $width_treshold) {
            width: 100%;
        }

        @media (min-width: $width_treshold) {
            width: 20%;
            min-width: 19em;
            margin: 2.5em .5% 0 1.5%;
            text-align: left; // desktop nav is left-aligned
            padding: 1em 0.5em 1em 0.5em; // and needs more padding
        }

        ul.nav_buttons {
            width: 80%;

            list-style: none;
            margin: 0;
            padding: .5em 0em;

            @media (min-width: $width_treshold) {
                width: 100%;
            }
        
            li.neu_button {
               @extend %neu_button;

               a{
                   padding: 0.45em;
               }
            }
        }

        div.date_time {

            width: 80%;

            margin-top: 1em;
            padding: 0.5em;

            border-radius: 0.5em;
            
            text-align: center;

            line-height: 1.75em;

            background-color: #93a293;

            box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15) inset, -5px -5px 10px rgba(255, 255, 255, 0.15) inset;
            color: #353535;

            span {
                white-space: pre-line;
            }

            @media (min-width: $width_treshold){
                margin-top: 2em;
            }
        }
    }
    
    main {
        padding: 0.5em;
    }
}


/* FORMS */

.depot_form {

    h1 {
        color: $primary_font_color;

        font-size: 1.99em;
        line-height: 1.41em;
        margin-bottom: 0.5em;
        padding: 0;
    }
    
    .field, 
    .actions {
        margin-bottom: 0.5em;
        padding: 0;
    }
    
    .actions {

        @extend %neu_button_alt;

        text-align: right;
        padding: 1em 0;
    }
    
    input, 
    textarea, 
    select, 
    option {
        
        @extend %neu_main_small--inset;

        border: none;
        border-radius: 7px;
        box-sizing: border-box;
        font-size: 1em;
        padding: 0.5em;
        width: 100%;
    }

    textarea{
        max-width: 50em;
    }
    
    label {
        padding: 0.5em 0;
    }

    input[type="submit"] {
        
        background-color: #bfb;
        
        border-radius: 0.354em;
        border: solid thin #888;
        color: black;

        font-size: 1.1em;
        font-weight: bold;
        
        padding: 1.2em 1em;

        font-family: verdana, arial, helvetica, sans-serif;
    }

    input[type="submit"]:hover {
        background-color: #9d9;
    }

    // Also, clean up the error styling
    #error_explanation {

        background-color: white;
        border-radius: 1em;
        border: solid thin red;
        margin-bottom: 0.5em;
        padding: 0.5em;
        width: 100%;
        
        h2 {
            background: none;
            color: red;
            font-size: 1.41em;
            line-height: 1.41em;
            padding: 1em;
        }
        
        ul {
            margin-top: 0;
            
            li {
                color: red;
                font-size: 1em;
            }
        }
    }

    .field_with_errors {
    
        background: none;
        color: red;
        width: 100%;
    
        label {
            font-weight: bold;
        }

        label::before {
            content: "! ";
        }

        input,textarea {
            background: pink;
        }
    }
}
