/*
* This is a manifest file that'll be compiled into application.css, which will
* include all the files listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any
* plugin's vendor/assets/stylesheets directory can be referenced here using a
* relative path.
*
* You're free to add application-wide styles to this file and they'll appear
* at the bottom of the compiled file so the styles you add here take
* precedence over styles defined in any other CSS/SCSS files in this
* directory. Styles in this file should be added after the last require_*
* statement. It is generally better to create a new file per style scope.
*
*= require_tree .
*= require_self
*/

@import 'variables.scss';
@import 'extensions.scss';

body {

    background-color: $primary_color;
    color: $secondary_font_color;

    margin: 0;
    padding: 0;
    
}

div.main_wrapper{

    @extend %neu_main--inset;/**/

    border-radius: 0;

    max-width: 100em;
    min-height: 100vh;

    margin: 0 auto;
}

header.main {
    
    text-align: center; // center on mobile
    
    @media (min-width: $width_treshold_sml) {
        text-align: left; // left align on desktop
        height: 10em;
    }
    
    margin: 0;
    
    h1 {
        display: none;
    }

}

.notice, #notice {
    background: #ffb;
    border-radius: 0.5em;
    border: solid 0.177em #882;
    color: #882;
    font-weight: bold;
    margin-bottom: 1em;
    padding: 1em 1.414em;
    text-align: center;
}

#cart{

    @extend %side_cart;

    margin: 0;

}


.main_content {

    min-height: 86vh;
    
    margin:  0;
    padding: 0;
    display: flex;
    
    display: -webkit-flex;
    
    flex-direction: column; // mobile is horizontally laid out
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    
    @media (min-width: $width_treshold) {
        flex-direction: row; // desktop is vertically laid out
        -webkit-box-orient: horizontal;
    }
        
    nav {

        @extend %neu_main;

        display: flex;
        flex-direction: column;
        align-items: center;

        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;

        padding-bottom: 1em;
        text-align: center;
    
        @media (min-width: $width_treshold) {
            width: 100%;
        }

        @media (min-width: $width_treshold) {
            width: 20%;
            min-width: 19em;
            margin: 2.5em .5% 0 1.5%;
            text-align: left; // desktop nav is left-aligned
            padding: 1em 0.5em; // and needs more padding
        }

        ul.nav_buttons {
            width: 80%;

            list-style: none;
            margin: 0;
            padding: .5em 0em;

            @media (min-width: $width_treshold) {
                width: 100%;
            }
        
            li.neu_button {
               @extend %neu_button;

               a{
                   padding: 0.45em;
               }
            }
        }

        div.date_time {

            @extend %neu_main--inset;

            width: 80%;

            margin-top: 1em;
            padding: 0.5em;

            border-radius: 0.5em;
            
            text-align: center;

            line-height: 1.75em;

            span {
                white-space: pre-line;
            }

            @media (min-width: $width_treshold){
                margin-top: 2em;
            }
        }
    }
    
    main {
        padding: 0.5em;
    }
}