
@import 'variables.scss';
@import 'extensions.scss';

.carts {

    @extend %inner_content;
    
    .main_header{
        @extend %main_header;
    }

    .empty{
        @extend %empty;
    }
    
    .flex_table {

        @extend %flex_table;
        @extend %neu_main;

        flex-direction: column;
        align-content: center;
        justify-content: center;

        margin-top: 1em;

        ul{
            width: 80%;

            list-style: none;
            padding: 0;
            margin: 0;

            li{
                padding: 1em;
                display: flex;

                span{

                    padding: 0 0.1em;
                    
                    &.modify{
                        display: flex;
                        width: 10%;
                        
                        .modify_quantity{

                            @extend %neu_button;
                            
                            text-shadow: $neu_text;

                            padding: 0;
                            margin: 0 0.75em 0 0;

                            input[type="submit"]{
                                width: 1.5em;
                                font-size: 1.2em;
                                font-weight: bold;
                            }

                        }

                    }

                    &.quantity{
                        width: 7%;

                        font-size: 1.2em;
                        font-weight: bold;
                        
                        &:after{
                            content: '  X';
                            font-size: 0.75em;
                            font-weight: normal;
                        }
                    }
                    
                    &.title{
                        width: 63%;
                    }
                    
                    &.price{
                        width: 20%;

                        text-align: right;
                        font-weight: bold;

                        &:after{
                            content: none;
                        }
                    }
                
                }

                &.total{

                    justify-content: flex-end;

                    span{
                     
                        width: 80%;

                        font-size: 1.2em;
                        font-weight: bold;
                        text-align: right;

                        padding-top: 1em;

                        border-top: 2px solid transparent;

                        &:after{
                            content: none;
                        }

                        &:last-child{
                            width: 20%;
                            border-top: 2px solid $primary_font_color;
                        }
                    }

                }
            }
        }

        .empty_cart{
                    
            @extend %neu_button_alt;

            margin: 1em 0 0 0.5em;

            input[type="submit"]{
                padding: 0.75em;
            }
            
        }
    }
}