@import 'variables.scss';

%empty{
    
    width: 100%;

    margin: 1em;

    text-align: center;

    color: $secondary_font_color;

}

%pseudo_base{
    content: '';                        
    position: absolute;
    display: block;

    width: 100%;
    height: 100%;
}

%main_header{
    @extend %neu_main;
    
    color: $primary_font_color;
    
    h1{
        display: inline-block;

        text-transform: uppercase;

        padding: 1em 0 1em 1.25em;
        margin: 0;
    }
}

%inner_content{

    width: auto;
    max-width: $content_main_maxwidth;

    margin: 2em 1% 2em .5%;

    @media (min-width: $width_treshold) {
        max-width: $content_main_maxwidth;
        width: 80%;
    }
}

%flex_table{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    min-height: 50em;

    /*background: linear-gradient(167deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.05) 100%);*/
}

%flex_cell{
    display: flex;
    align-items: stretch;
}


/** SIDE CART **/

%side_cart{

    &.carts{
        width: 80%;

        @media (min-width: $width_treshold) {
            width: 95%;
        }

        article{
            @extend %neu_main_small;
            margin: 0.5em 0;
        }
    }

    .main_header, .flex_table{

        box-shadow: none;
        
    }

    .main_header{

        h1{
            padding-left: 1em;
        }
    
    }

    .empty{
        margin-bottom: 2em;
    }

    .flex_table{

        min-height: auto;
        margin-top: 0;

        ul{
            width: 95%;

            li{
                padding: 0.5em 0.5em 0.5em 0.3em;

                font-size: 0.75em;

                border-radius: 1em;

                .modify{

                    flex-direction: column-reverse;
                    justify-content: flex-end;

                    width: 13%;

                    .modify_quantity{

                        margin: 0 0.5em 1em 0em;
                        font-size: 1.15em;

                    }
                }

                .quantity{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    width: 13%;
                }

                .title{
                    width: 41%;
                }

                .price{
                    width: 33%;
                }

                &.total{

                    span{
                        width: 25%;

                        &:last-child{
                            width: 55%;
                        }
                    }
                
                }


            }
        }

        .actions{

            display: flex;
            justify-content: space-between;

            margin: .5em 0 .5em 0;

            .empty_cart,
            .proceed_checkout{

                margin: 0.5em 0;

                input[type='submit']{
                    width: 6.5em;
                }

            }
        }

    }

}


/** NEUMORPHISM THEME **/

$neu_big: 5px 5px 10px rgba(0, 0, 0, 0.1), -5px -5px 10px rgba(255, 255, 255, .6);
$neu_big--inset: 5px 5px 10px rgba(0, 0, 0, 0.1) inset, -5px -5px 10px rgba(255, 255, 255, 1) inset;

$neu_small: 2px 2px 5px rgba(0, 0, 0, 0.2), -2px -2px 5px rgba(255, 255, 255, 0.8);
$neu_small--inset: 1px 1px 3px rgba(0, 0, 0, 0.2) inset, -1px -1px 3px rgba(255, 255, 255, 0.8) inset;

$neu_text: 3px 3px 6px rgba(0, 0, 0, 0.2), -3px -3px 6px rgba(255, 255, 255, 0.75);

%neu_main{

    overflow: hidden;
    border-radius: 15px;
    box-sizing: border-box;

    box-shadow: $neu_big;

}

%neu_main--inset{

    @extend %neu_main;

    box-shadow: $neu_big--inset;
    background: linear-gradient(167deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.035) 100%);

}

%neu_main_small{

    @extend %neu_main;

    box-shadow: $neu_small;

}

%neu_main_small--inset{

    @extend %neu_main--inset;

    box-shadow: $neu_small--inset;

}

%neu_button{

    padding: 0.5em 0.5em;

    a, input[type='submit']{

        display: block;

        text-align: center;
        text-decoration: none;

        border-radius: 7px;
        border: none;
        outline: none;

        color: $link_font_color;
        background: linear-gradient(167deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.035) 100%);

        box-shadow:  $neu_small;

        cursor: pointer;

        transition: box-shadow .3s;

        &:hover{
            color: $link_font_color--hover !important;

            background: linear-gradient(167deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.075) 100%);

            box-shadow: $neu_small--inset;
        }

        &:visited{
            color: $link_font_color--visited;
        }    

    }

}

%neu_button_alt{

    @extend %neu_button;

    a, input[type="submit"]{
        color:  $link_font_color_alt;
        background: $highlight_color;

        &:hover{
            color: $link_font_color_alt--hover !important;
            background:  darken($highlight_color, 5%);
        }

        &:visited{
            color: $link_font_color_alt--visited;
        }  
    }

}

%neu_thumbnail{

    border-radius: 0.5em;
    border: 1px solid rgba(255, 255, 255, 0);
    box-sizing: border-box;

    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.075) inset, 
                -2px -2px 3px rgba(255, 255, 255, 0.8) inset, 
                2px 2px 5px rgba(0, 0, 0, 0.1), 
                -2px -2px 5px rgba(255, 255, 255, .8),
                -1px -1px 0px rgba(255, 255, 255, 0.5);

    overflow: hidden;

    img{

        z-index: -1;
        padding: 50% 50%;
        background-color: #ffffff;
    
    }

}