
@import 'variables.scss';
@import 'extensions.scss';

.products {

    @extend %inner_content;

    .main_header{
        @extend %main_header;
    }

    .empty{
        @extend %empty;
    }

    a {
        padding: 0.5em 0.5em;
        border-radius: 0.354em;
    }
    
    .flex_table {

        @extend %flex_table;
        @extend %neu_main;

        margin-top: 1em;

        .flex_table-cell{

                @extend %flex_cell;

                &.list_line_odd {
                    background-color: rgba(242, 242, 245, 0.5);
                }
                
                &.image {
            
                    display: none;

                    justify-content: center;

                    width: 18%;

                    z-index: 1;

                    div.image-thumb{

                        @extend %neu_thumbnail;

                        display: flex;

                        justify-content: center;
                        align-self: center;

                        width: 80%;
                        height: 10em;
                        
                    }
                    
                    @media (min-width: $width_treshold_mid) {
                        
                        display: flex;
                    
                        img {
                            align-self: center;
                            height: 11.3em;
                        }
                    }
                }
                
                &.description {

                    width: 67%;

                    .description-content{

                        align-self: center;
                        padding: 0 1em;

                        h2 {
                            font-size: 1.4em;
                            color: $highlight_color;
                            text-shadow: $neu_text;
                        }
                    }

                    @media (max-width: $width_treshold_mid) {
                        
                        width: 80%;
                    
                    }

                    @media (max-width: $width_treshold_sml) {
                        
                        width: 100%;
                    
                    }
                }
                
                &.actions {

                    justify-content: center;

                    width: 15%;

                    margin: 0;

                    ul {

                        display: flex;
                        flex-direction: column;

                        min-width: 6em;
                        width: 80%;
                        
                        padding: 0;
                        list-style: none;
                        
                        .neu_button {
                            @extend %neu_button;
                        }
                    }

                    @media (max-width: $width_treshold_mid) {

                        width: 20%;
                    
                    }

                    @media (max-width: $width_treshold_sml) {
                        
                        width: 100%;
                    
                    }
                }

        }

    }
    
    .footerlinks {

        width: 50%;

        left: 0;
        right: 0;

        margin: 1.5em auto;

        .neu_button{

            @extend %neu_button_alt;

            a{
                padding: 1.2em;

                font-weight: bold;
            }
        }

    }
}