
@import 'variables.scss';
@import 'extensions.scss';

.store {

    @extend %inner_content;
    
    .main_header{
        @extend %main_header;

        display: flex;
        align-items: center;

        .info{
        
            display: flex;
            align-items: center;

            margin: 0 1em 0 auto;

            span{

                @extend %neu_main_small; 
            
                min-width: 1.8em;
                

                border-radius: 25em;
                background-color: red;

                color: white;
                text-align: center;

                padding: .25em;
                margin-left: .5em;
            
            }
        }
    }

    .empty{
        @extend %empty;
    }
    
    .flex_table {

        @extend %flex_table;
        @extend %neu_main;

        margin-top: 1em;

        .flex_table-cell{

            @extend %flex_cell;

            padding: 1.5em 0;

            &.list_line_odd {
                background-color: rgba(242, 242, 245, 0.5);
            }

            &.image {
            
                display: none;

                flex-direction: column;
                
                align-items: center;
                justify-content: start;

                width: 25%;

                z-index: 1;

                div.image-thumb{

                    @extend %neu_thumbnail;

                    display: flex;

                    justify-content: center;

                    width: 80%;
                    height: 15em;
                    
                }
                
                @media (min-width: $width_treshold_mid) {
                    
                    display: flex;
                
                    img {
                        align-self: center;
                        height: 11.3em;
                    }
                }

                .price{

                    margin-top: 1em;

                    font-size: 1.4em;

                    color: $primary_font_color;

                }

                .add_to_cart{
                    
                    @extend %neu_button_alt;

                    margin-top: 1em;

                    input[type="submit"]{
                        padding: 0.75em;
                    }
                    
                }
            }
            
            &.description {

                flex-direction: column;

                width: 75%;

                .description-content{

                    align-self: center;
                    padding: 0 2em 0 1em;

                    h2 {
                        font-size: 1.4em;
                        color: $highlight_color;
                        text-shadow: $neu_text;
                    }

                }

                @media (max-width: $width_treshold_mid) {
                    
                    width: 100%;
                
                }

            }
        
        }

    }
}