$primary_font_color: #666;
$secondary_font_color: #777;

$highlight_color: #1f88f1;

$link_font_color: #666;
$link_font_color--hover: #1f88f1;
$link_font_color--visited: #666;

$link_font_color_alt: #efefef;
$link_font_color_alt--hover: #ffffff;
$link_font_color_alt--visited: #efefef;

